:root{
	--tomato: hsl(4, 100%, 67%);
	--dark-slate-gray: hsl(234, 29%, 20%);
	--charcoal-gray: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
}
@font-face {
	font-family: 'Roboto';
	src: url('/public/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
	font-family: 'Roboto-bold';
	src: url('/public/assets/fonts/Roboto-Bold.ttf');
}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: var(--dark-slate-gray);
	color: var(--dark-slate-gray);
	display: grid;
	place-items: center;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: Roboto,-apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
	font-weight: bold;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
