<script>
	import CheckList from "./CheckList.svelte";
	import SuccessMessage from "./SuccessMessage.svelte";

	export let name;
	let email='';
	let showForm = true;
	let errors=false;
	function handleSubmit() {
		if (email === "") {
			alert("Es necesario un email");
			errors=true;
			return;
		}
		showForm = false;
	}
	$: errorClasses = errors ? "error" : "";
	$: containers = errors ? 'error-container' : 'label-container';
</script>

{#if showForm}
	<main>
		<picture>
			<source
				srcset="./assets/images/illustration-sign-up-mobile.svg"
				media="(max-width:600px)"
			/>
			<img
				src="./assets/images/illustration-sign-up-desktop.svg"
				alt="background form"
				class="img-form"
			/>
		</picture>
		<section class="form-container">
			<h1>Stay updated!</h1>

			<p>Join 60,000+ product managers receiving monthly updates on:</p>

			<CheckList text="Product discovery and building what matters" />
			<CheckList text="Measuring to ensure updates are a success" />
			<CheckList text="And much more!" />

			<div class={containers} >
				<label for="mail">email address</label>
				{#if errors}
				<p class="error-message" >Valid email required</p>
				{/if}
			</div>
			<input
				bind:value={email}
				required
				id="mail"
				type="email"
				placeholder="email@company.com"
				class={errorClasses}
			/>

			<button on:click={handleSubmit} type="button"
				>Subscribe to monthly newsletter</button
			>
		</section>
	</main>
{:else}
	<SuccessMessage />
{/if}

<style>
	main {
		max-width: 800px;
		background-color: white;
		font-weight: 400;
		display: flex;
		flex-direction: column;
	}
	.img-form {
		width: 100%;
		height: 375px;
		margin-top: -55px;
	}
	.form-container {
		padding: 0 2rem;
		margin-top: -50px;
	}

	h1 {
		font-size: 2rem;
	}
	span {
		display: block;
	}
	.icon-check {
		width: 20px;
		height: 20px;
	}
	input {
		border: 1px solid var(--grey);
		border-radius: 5px;
		width: 100%;
		padding: 15px;
		margin-bottom: 1rem;
	}
	label {
		margin: 1rem 0 0.5rem 0;
	}
	button {
		border-radius: 5px;
		font-weight: bold;
		background-color: var(--charcoal-gray);
		border: none;
		color: var(--white);
		width: 100%;
		padding: 15px;
	}
	button:hover {
		background-color: var(--tomato);
		cursor: pointer;
	}
	input:hover {
		border: 1px solid var(--charcoal-gray);
		cursor: pointer;
	}
	.error{
		border: 1px solid var(--tomato);
		color: var(--tomato);
		background-color: #ff63474a;
	}
	.error::placeholder{
		color: var(--tomato);
	}

	.error-message{
		color: var(--tomato);
	}
	.error-container{
		display: flex;
		justify-content: space-between;
	}
	.label-container{
		display: flex;
		justify-content: flex-start;
	}

	@media (min-width: 600px) {
		main {
			max-width: 600px;
			flex-direction: row-reverse;
			padding: 15px;
			border-radius: 10px;
		}
		.img-form {
			margin: 0;
			height: 100%;
		}
		.form-container {
			margin: 0;
		}
	}
</style>
