<script>
  export let text;
</script>

<div>
  <img class="icon-check" src="./assets/images/icon-list.svg" alt="check" />
  <span>{text}</span>
</div>

<style>
  div{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  span{
    margin-left: 10px;
  }
</style>