<script>

</script>

<main>
  <img src='/assets/images/icon-success.svg' alt='check icon'/>
  <h1>Tanks for subscribing</h1>
  <p>dasdas
    A confirmation email has been sent to <strong>ash@loremcompany.com</strong>. 
  Please open it and click the button inside to confirm your subscription.
  </p>
  <button>dismiss message</button>
</main>

<style>
  main{
    background-color: white;
    height: 100vh;
    width: 100%;
    padding: 1rem;
    padding-top: 4rem;
  }
  h1{
    font-weight: bold;
  }
  img{
    width: 50px;
    height: 50px;
  }
  button{
    background-color: var(--charcoal-gray);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 30px;
  }
  button:hover{
    background-color: var(--tomato);
    cursor: pointer;
  }
  @media (min-width:600px){
    main{
      display: grid;
      place-items: center;
      max-width: 350px;
      max-height: 60vh;
      padding: 2rem;
      border-radius: 15px;
    }
    h1{
      font-size: 2.5rem;
    }
    button{
      position: static;
    }
  }
</style>